@import "style.css";
@import "cards.css";

body {
    margin: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #1f103d;
}


#score
{
    font-weight: bold;
    color: #d6ba3e;
    margin-bottom: 2%;
    font-size: larger;
}

.indice_div
{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}

.indice_div > label
{
    display:flex;
    justify-content: center;
    color:#000000;
    background-color: aliceblue;
    border-radius: 20px;
    border-style: groove;
    border-color: #d6ba3e;
    font-weight: bold;
    width: 100px;
}

#nombre_deviner
{
    width: fit-content;
}


